In [94]:
import pandas as pd 
import numpy as np
import datetime

main_data = pd.read_csv('ring_occupancy.csv',header=None)
main_data.columns = ['Initial_time', 'Final_time', 'Cage','ID','RFID']

# calculate duration: 

main_data['Cage']=main_data['Cage']+1

main_data.sort_values(by=['Initial_time'])

main_data['Initial_time']=main_data['Initial_time']/(1000*60)
main_data['Final_time']=main_data['Final_time']/(1000*60)

difference=main_data['Final_time']- main_data['Initial_time'] # we calculate the time difference between start and end of events 
main_data['Initial_time']=main_data['Initial_time']- main_data['Initial_time'][0] # scale the start time of events in relation to the very first event 
main_data['Final_time']=main_data['Initial_time']+difference
main_data['ID']=main_data['ID'].astype(np.int64)
main_data['Cage']=main_data['Cage'].astype(np.int64)

new_ID=[str(main_data['ID'][i])[-5:] for i in np.arange(len(main_data['ID']))]
main_data['ID']=new_ID
main_data['event_duration']=main_data['Final_time']-main_data['Initial_time']

initial_time_stamps=pd.read_csv('initial_event_time_stamps.txt',header=None)
end_time_stamps=pd.read_csv('end_event_time_stamps.txt',header=None)
mod_data = pd.concat([main_data,initial_time_stamps,end_time_stamps], axis=1, sort=False)

# use a nice list comprehension
mod_data.columns = ['Initial_time', 'Final_time', 'Cage','ID','RFID','event_duration','Event_start_ts','Event_end_ts']
mod_data


mod_data['Event_start_ts']=pd.to_datetime(mod_data['Event_start_ts'])
mod_data['Event_end_ts']=pd.to_datetime(mod_data['Event_end_ts'])

#type(mod_data['Event_start_ts'])
#formatted_times_start=[''.join(mod_data['Event_start_ts'][i].rsplit('.', 1)[0]) for i in np.arange(len(mod_data)) ]
#formatted_times_end=[''.join(mod_data['Event_end_ts'][i].rsplit('.', 1)[0]) for i in np.arange(len(mod_data)) ]

#date_time_objects_start=[datetime.datetime.strptime(time, '%Y-%m-%d %H:%M:%S') for time in formatted_times_start]
#date_time_objects_end=[datetime.datetime.strptime(time, '%Y-%m-%d %H:%M:%S') for time in formatted_times_end]


#mod_data['Event_start_ts']=date_time_objects_start
#mod_data['Event_end_ts']=date_time_objects_end

# the first thing is to format things into the right time


# the problem here is that some reads contain milliseconds, and others don't. 
# the best thing to do is to split them and then rejoin them
#print(mod_data)
# no more NAs in the dataframe 



# once, you have the beginning and ending time stamps

# first, you need to merge all of this into a pandas dataframe. 
# using that dataframe, you should then begin adding all the bells and whistles so everything 
# is modified. 

# this would be analogous to your data massaging function in which you would add specific things like time

In [95]:
mod_data['hrs']=mod_data["Event_start_ts"].apply(lambda x: x.hour)
# find the first element where it's greater than 0.

In [96]:
#mod_data['Event_start_ts'].day

number_of_divisions=(mod_data['Event_start_ts'].iloc[-1].day-mod_data['Event_start_ts'].iloc[1].day)*(24)/(6)

In [97]:
# not just this. Find out the first element

time_range=pd.date_range('2018-06-20 12:00:00', periods=number_of_divisions+1, freq='360T')
time_range

DatetimeIndex(['2018-06-20 12:00:00', '2018-06-20 18:00:00',
               '2018-06-21 00:00:00', '2018-06-21 06:00:00',
               '2018-06-21 12:00:00', '2018-06-21 18:00:00',
               '2018-06-22 00:00:00', '2018-06-22 06:00:00',
               '2018-06-22 12:00:00', '2018-06-22 18:00:00',
               '2018-06-23 00:00:00', '2018-06-23 06:00:00',
               '2018-06-23 12:00:00', '2018-06-23 18:00:00',
               '2018-06-24 00:00:00', '2018-06-24 06:00:00',
               '2018-06-24 12:00:00', '2018-06-24 18:00:00',
               '2018-06-25 00:00:00', '2018-06-25 06:00:00',
               '2018-06-25 12:00:00', '2018-06-25 18:00:00',
               '2018-06-26 00:00:00', '2018-06-26 06:00:00',
               '2018-06-26 12:00:00', '2018-06-26 18:00:00',
               '2018-06-27 00:00:00', '2018-06-27 06:00:00',
               '2018-06-27 12:00:00', '2018-06-27 18:00:00',
               '2018-06-28 00:00:00', '2018-06-28 06:00:00',
               '2018-06-28 12:00:00', '2018-06-28 18:00:00',
               '2018-06-29 00:00:00', '2018-06-29 06:00:00',
               '2018-06-29 12:00:00'],
              dtype='datetime64[ns]', freq='360T')

In [98]:
# using a loop here, assign bins 

import numpy as np

for i in np.arange(len(time_range)-1):
    if i<len(time_range)-1:
        mod_data.loc[(mod_data['Event_start_ts'] >= time_range[i]) 
                 & (mod_data['Event_start_ts'] < time_range[i+1]),'Bin']=i
    else: 
        mod_data.loc[(mod_data['Event_start_ts'] >= time_range[i]),'Bin']=i

In [99]:
mod_data.iloc[130000]

Initial_time                         12251.6
Final_time                           12252.5
Cage                                       9
ID                                     90239
RFID                                       0
event_duration                      0.903333
Event_start_ts    2018-06-28 23:35:26.809000
Event_end_ts      2018-06-28 23:36:21.009000
hrs                                       23
Bin                                       33
Name: 130000, dtype: object

In [100]:
CD1_metadata= pd.read_csv('CD1_metadata.csv')

In [101]:
CD1_metadata.columns=['ID','RFID_tag','Gender','Litter']

In [102]:
# to merge this data, you need to have the data sorted. 

#mod_data=mod_data.sort_values('ID')

d=pd.value_counts(mod_data['ID']).to_frame().reset_index()

d=d.sort_values('index')
d

d.columns=['ID','Count']
d

       ID  Count
13  80821   3530
14  80853   1127
2   81121  13803
0   81403  19346
11  81561   5063
5   82326   9509
4   86789  11444
10  89482   7012
7   89649   8805
6   90239   9084
15  90865    851
3   90879  11902
9   92931   7235
1   93143  15019
12  93645   4028
8   96941   7987

In [103]:
CD1_metadata

print(CD1_metadata.dtypes)

ID           int64
RFID_tag    object
Gender      object
Litter      object
dtype: object

In [104]:
d['ID']=d['ID'].astype('int64')

In [105]:
CD1_metadata=CD1_metadata.merge(d)

In [106]:
CD1_metadata

       ID      RFID_tag Gender Litter  Count
0   80821  2A006D2AD5B8      M  F11L1   3530
1   80853  2A006D2AF598      M  F11L1   1127
2   81121  2A006D2C016A      F  F02L1  13803
3   81403  2A006D2D1B71      M  F15L1  19346
4   81561  2A006D2DB9D3      M  F15L1   5063
5   82326  2A006D30B6C1      M  F15L1   9509
6   86789  2A006D422520      F  F11L1  11444
7   89482  2A006D4CAAA1      F  F17L1   7012
8   89649  2A006D4D515B      M  F15L1   8805
9   90239  2A006D4F9F97      F  F11L1   9084
10  90865  2A006D521104      M  F11L1    851
11  90879  2A006D521F0A      F  F02L1  11902
12  92931  2A006D5A233E      F  F02L1   7235
13  93143  2A006D5AF7EA      F  F11L1  15019
14  93645  2A006D5CEDF6      F  F02L1   4028
15  96941  2A006D69CDE3      M  F11L1   7987

In [139]:
mod_data_final=pd.merge(mod_data,CD1_metadata, copy=False)
#mod_data_final=mod_data_final.drop_duplicates()

,Initial_time,Final_time,Cage,ID,RFID,event_duration,Event_start_ts,Event_end_ts,hrs,Bin,RFID_tag,Gender,Litter,Count
0,0.000000,0.411583,10,89482,0.0,0.411583,2018-06-20 11:23:51.531,2018-06-20 11:24:16.226,11,NaN,2A006D4CAAA1,F,F17L1,7012
1,0.411583,1.649200,9,89482,0.0,1.237617,2018-06-20 11:24:16.226,2018-06-20 11:25:30.483,11,NaN,2A006D4CAAA1,F,F17L1,7012
2,1.649200,1.990767,8,89482,0.0,0.341567,2018-06-20 11:25:30.483,2018-06-20 11:25:50.977,11,NaN,2A006D4CAAA1,F,F17L1,7012
3,1.990767,2.137600,9,89482,0.0,0.146833,2018-06-20 11:25:50.977,2018-06-20 11:25:59.787,11,NaN,2A006D4CAAA1,F,F17L1,7012
4,2.644583,2.856367,9,89482,0.0,0.211783,2018-06-20 11:26:30.206,2018-06-20 11:26:42.913,11,NaN,2A006D4CAAA1,F,F17L1,7012
5,2.856367,2.890867,8,89482,0.0,0.034500,2018-06-20 11:26:42.913,2018-06-20 11:26:44.983,11,NaN,2A006D4CAAA1,F,F17L1,7012
6,2.890867,3.901633,9,89482,0.0,1.010767,2018-06-20 11:26:44.983,2018-06-20 11:27:45.629,11,NaN,2A006D4CAAA1,F,F17L1,7012
7,3.901633,4.033117,8,89482,0.0,0.131483,2018-06-20 11:27:45.629,2018-06-20 11:27:53.518,11,NaN,2A006D4CAAA1,F,F17L1,7012
8,4.033117,4.227600,7,89482,0.0,0.194483,2018-06-20 11:27:53.518,2018-06-20 11:28:05.187,11,NaN,2A006D4CAAA1,F,F17L1,7012
9,4.227600,4.749300,8,89482,0.0,0.521700,2018-06-20 11:28:05.187,2018-06-20 11:28:36.489,11,NaN,2A006D4CAAA1,F,F17L1,7012
10,4.749300,4.845433,7,89482,0.0,0.096133,2018-06-20 11:28:36.489,2018-06-20 11:28:42.257,11,NaN,2A006D4CAAA1,F,F17L1,7012
11,4.845433,4.997100,6,89482,0.0,0.151667,2018-06-20 11:28:42.257,2018-06-20 11:28:51.357,11,NaN,2A006D4CAAA1,F,F17L1,7012
12,4.997100,5.092183,7,89482,0.0,0.095083,2018-06-20 11:28:51.357,2018-06-20 11:28:57.062,11,NaN,2A006D4CAAA1,F,F17L1,7012
13,5.092183,5.379017,6,89482,0.0,0.286833,2018-06-20 11:28:57.062,2018-06-20 11:29:14.272,11,NaN,2A006D4CAAA1,F,F17L1,7012
14,5.379017,5.410900,5,89482,0.0,0.031883,2018-06-20 11:29:14.272,2018-06-20 11:29:16.185,11,NaN,2A006D4CAAA1,F,F17L1,7012
15,5.410900,5.543433,6,89482,0.0,0.132533,2018-06-20 11:29:16.185,2018-06-20 11:29:24.137,11,NaN,2A006D4CAAA1,F,F17L1,7012
16,5.543433,5.699683,7,89482,0.0,0.156250,2018-06-20 11:29:24.137,2018-06-20 11:29:33.512,11,NaN,2A006D4CAAA1,F,F17L1,7012
17,5.699683,5.839100,8,89482,0.0,0.139417,2018-06-20 11:29:33.512,2018-06-20 11:29:41.877,11,NaN,2A006D4CAAA1,F,F17L1,7012
18,5.839100,6.124400,7,89482,0.0,0.285300,2018-06-20 11:29:41.877,2018-06-20 11:29:58.995,11,NaN,2A006D4CAAA1,F,F17L1,7012
19,6.124400,6.181450,6,89482,0.0,0.057050,2018-06-20 11:29:58.995,2018-06-20 11:30:02.418,11,NaN,2A006D4CAAA1,F,F17L1,7012
20,6.181450,6.557700,5,89482,0.0,0.376250,2018-06-20 11:30:02.418,2018-06-20 11:30:24.993,11,NaN,2A006D4CAAA1,F,F17L1,7012
21,6.557700,6.736950,6,89482,0.0,0.179250,2018-06-20 11:30:24.993,2018-06-20 11:30:35.748,11,NaN,2A006D4CAAA1,F,F17L1,7012
22,6.736950,7.094367,5,89482,0.0,0.357417,2018-06-20 11:30:35.748,2018-06-20 11:30:57.193,11,NaN,2A006D4CAAA1,F,F17L1,7012
23,7.094367,7.359100,6,89482,0.0,0.264733,2018-06-20 11:30:57.193,2018-06-20 11:31:13.077,11,NaN,2A006D4CAAA1,F,F17L1,7012
24,7.359100,7.461367,5,89482,0.0,0.102267,2018-06-20 11:31:13.077,2018-06-20 11:31:19.213,11,NaN,2A006D4CAAA1,F,F17L1,7012
25,7.461367,7.587017,4,89482,0.0,0.125650,2018-06-20 11:31:19.213,2018-06-20 11:31:26.752,11,NaN,2A006D4CAAA1,F,F17L1,7012
26,7.587017,7.753683,3,89482,0.0,0.166667,2018-06-20 11:31:26.752,2018-06-20 11:31:36.752,11,NaN,2A006D4CAAA1,F,F17L1,7012
27,7.753683,7.857367,4,89482,0.0,0.103683,2018-06-20 11:31:36.752,2018-06-20 11:31:42.973,11,NaN,2A006D4CAAA1,F,F17L1,7012
28,7.857367,7.977967,5,89482,0.0,0.120600,2018-06-20 11:31:42.973,2018-06-20 11:31:50.209,11,NaN,2A006D4CAAA1,F,F17L1,7012
29,8.445633,8.519750,3,89482,0.0,0.074117,2018-06-20 11:32:18.269,2018-06-20 11:32:22.716,11,NaN,2A006D4CAAA1,F,F17L1,7012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135715,12357.323200,12360.386050,6,80853,0.0,3.062850,2018-06-29 01:21:10.923,2018-06-29 01:24:14.694,1,34.0,2A006D2AF598,M,F11L1,1127
135716,12360.386050,12360.957233,5,80853,0.0,0.571183,2018-06-29 01:24:14.694,2018-06-29 01:24:48.965,1,34.0,2A006D2AF598,M,F11L1,1127
135717,12360.957233,12364.042733,6,80853,0.0,3.085500,2018-06-29 01:24:48.965,2018-06-29 01:27:54.095,1,34.0,2A006D2AF598,M,F11L1,1127
135718,12364.042733,12367.458750,5,80853,0.0,3.416017,2018-06-29 01:27:54.095,2018-06-29 01:31:19.056,1,34.0,2A006D2AF598,M,F11L1,1127
135719,12367.458750,12368.494883,6,80853,0.0,1.036133,2018-06-29 01:31:19.056,2018-06-29 01:32:21.224,1,34.0,2A006D2AF598,M,F11L1,1127
135720,12368.494883,12369.357050,5,80853,0.0,0.862167,2018-06-29 01:32:21.224,2018-06-29 01:33:12.954,1,34.0,2A006D2AF598,M,F11L1,1127
135721,12369.357050,12369.412400,6,80853,0.0,0.055350,2018-06-29 01:33:12.954,2018-06-29 01:33:16.275,1,34.0,2A006D2AF598,M,F11L1,1127
135722,12369.412400,12388.543500,5,80853,0.0,19.131100,2018-06-29 01:33:16.275,2018-06-29 01:52:24.141,1,34.0,2A006D2AF598,M,F11L1,1127
135723,12388.543500,12546.115600,6,80853,0.0,157.572100,2018-06-29 01:52:24.141,2018-06-29 04:29:58.467,1,34.0,2A006D2AF598,M,F11L1,1127
135724,12546.115600,12547.074550,5,80853,0.0,0.958950,2018-06-29 04:29:58.467,2018-06-29 04:30:56.004,4,34.0,2A006D2AF598,M,F11L1,1127
135725,12547.074550,12550.099317,6,80853,0.0,3.024767,2018-06-29 04:30:56.004,2018-06-29 04:33:57.490,4,34.0,2A006D2AF598,M,F11L1,1127
135726,12550.099317,12550.797550,5,80853,0.0,0.698233,2018-06-29 04:33:57.490,2018-06-29 04:34:39.384,4,34.0,2A006D2AF598,M,F11L1,1127
135727,12550.797550,12551.811450,6,80853,0.0,1.013900,2018-06-29 04:34:39.384,2018-06-29 04:35:40.218,4,34.0,2A006D2AF598,M,F11L1,1127
135728,12551.811450,12552.272517,7,80853,0.0,0.461067,2018-06-29 04:35:40.218,2018-06-29 04:36:07.882,4,34.0,2A006D2AF598,M,F11L1,1127
135729,12687.608583,12688.449550,6,80853,0.0,0.840967,2018-06-29 06:51:28.046,2018-06-29 06:52:18.504,6,35.0,2A006D2AF598,M,F11L1,1127
135730,12688.449550,12844.537350,6,80853,0.0,156.087800,2018-06-29 06:52:18.504,2018-06-29 09:28:23.772,6,35.0,2A006D2AF598,M,F11L1,1127
135731,12844.537350,12866.689100,5,80853,0.0,22.151750,2018-06-29 09:28:23.772,2018-06-29 09:50:32.877,9,35.0,2A006D2AF598,M,F11L1,1127
135732,12866.689100,12868.687217,6,80853,0.0,1.998117,2018-06-29 09:50:32.877,2018-06-29 09:52:32.764,9,35.0,2A006D2AF598,M,F11L1,1127
135733,12868.687217,12871.022183,7,80853,0.0,2.334967,2018-06-29 09:52:32.764,2018-06-29 09:54:52.862,9,35.0,2A006D2AF598,M,F11L1,1127
135734,12871.022183,12871.132450,8,80853,0.0,0.110267,2018-06-29 09:54:52.862,2018-06-29 09:54:59.478,9,35.0,2A006D2AF598,M,F11L1,1127
135735,12871.132450,12871.456367,9,80853,0.0,0.323917,2018-06-29 09:54:59.478,2018-06-29 09:55:18.913,9,35.0,2A006D2AF598,M,F11L1,1127
135736,12871.456367,12871.612783,10,80853,0.0,0.156417,2018-06-29 09:55:18.913,2018-06-29 09:55:28.298,9,35.0,2A006D2AF598,M,F11L1,1127
135737,12871.612783,12872.023367,1,80853,0.0,0.410583,2018-06-29 09:55:28.298,2018-06-29 09:55:52.933,9,35.0,2A006D2AF598,M,F11L1,1127
135738,12872.023367,12873.467000,2,80853,0.0,1.443633,2018-06-29 09:55:52.933,2018-06-29 09:57:19.551,9,35.0,2A006D2AF598,M,F11L1,1127
135739,12873.467000,12874.102250,1,80853,0.0,0.635250,2018-06-29 09:57:19.551,2018-06-29 09:57:57.666,9,35.0,2A006D2AF598,M,F11L1,1127
135740,12880.466450,12880.733933,6,80853,0.0,0.267483,2018-06-29 10:04:19.518,2018-06-29 10:04:35.567,10,35.0,2A006D2AF598,M,F11L1,1127
135741,12880.733933,12883.780933,6,80853,0.0,3.047000,2018-06-29 10:04:35.567,2018-06-29 10:07:38.387,10,35.0,2A006D2AF598,M,F11L1,1127
135742,12899.386100,12901.877633,6,80853,0.0,2.491533,2018-06-29 10:23:14.697,2018-06-29 10:25:44.189,10,35.0,2A006D2AF598,M,F11L1,1127
135743,12901.877633,12902.129767,5,80853,0.0,0.252133,2018-06-29 10:25:44.189,2018-06-29 10:25:59.317,10,35.0,2A006D2AF598,M,F11L1,1127
135744,12902.129767,12902.586083,6,80853,0.0,0.456317,2018-06-29 10:25:59.317,2018-06-29 10:26:26.696,10,35.0,2A006D2AF598,M,F11L1,1127

In [ ]:
# now, the next step is to actually bin the data